{{#link-to 'posts.create' class="btn btn-default"}}New Post{{/link-to}}

{{#each}}
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-12">
					{{#link-to 'posts.show' this class="btn btn-default pull-right"}}Full Post{{/link-to}}
				</div>
			</div>

			{{{short}}}
		</div>
	</div>
	<hr>
{{/each}}
