<div class="row">
	<div class="col-md-12">
		{{#link-to 'posts.edit' this class="btn btn-default pull-right"}}Edit{{/link-to}}
	</div>
</div>

{{{compiledBody}}}

<hr>

{{render 'posts/-comments' comments}}
