<div class="row">
	<div class="col-md-6">
		{{textarea value=body class="comment-editor"}}
	</div>
	<div class="col-md-6">
		{{{compiledBody}}}
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<button class="btn btn-primary" {{action 'save'}}>Save</button>
	</div>
</div>
